<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>HelloWorld</title>
=======
  <title>ToyApp</title>
>>>>>>> 3f00cc3d6cec7c9d3e55f4cb680603bb9d260656
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
